*DS_Store*
*deps/*.*o
*/*deps/*.*o
*libs/*
*/*libs/*
*.o
*.lo
*~
*.log
*.cache
config.h
*.status
libtool
Makefile
modulecmd
stamp-h*
work
*/work
*/*/work
*/*/*/work
confdefs.h
*(Autosaved)*
tmpwrk*/*
conftest*
modules.sum
*.out
*.err
site.exp
site.bak
aminclude_static.am
.spec
